@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap");
@import "tailwindcss";

:root {
  color-scheme: dark;
}

html, body {
  min-height: 100%;
}

.title-display {
  font-family: "Gasoek One", sans-serif;
}
